{% extends "base.html" %}

{% load static %}

{% block content_main %}
<h1>Available font families</h1>
{% for osfw in osfws %}
<div>
<h2><a href="/get/{{ osfw.id }}/"> {{ osfw.familyname }} </a> <h2>
<img src="{% static "fontimages/"  %}{{ osfw.ttffilename|slice:":-4"}}-sample.png" alt="sample-image" >
<p>{{osfw.likes}} people liked this font</p>

</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if osfws.has_previous %}
            <a href="?page={{ osfws.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ osfws.number }} of {{ osfws.paginator.num_pages }}.
        </span>

        {% if osfws.has_next %}
            <a href="?page={{ osfws.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
	
{% endblock %}
