{% extends "base.html" %}

{% load static %}


{% block content_main %}
<div id="fheader">
Available font families
</div><br>

<ul>
<div>

{% for i in range(1,len(osfws)) %}
  {% if osfws[i].familyname != osfws[i-1].familyname %}
<li><a href="/get/{{ osfws[i].id }}/"> {{ osfws[i].familyname }} </a> </li>
<img src="{% static "fontimages/"  %}{{ osfws[i].ttffilename|slice:":-4"}}-sample.png" alt="sample-image" >
<p>{{osfws[i].likes}} people liked this font</p><br>

</div>
  {% endif %}
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if osfws.has_previous %}
            <a href="?page={{ osfws.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ osfws.number }} of {{ osfws.paginator.num_pages }}.
        </span>

        {% if osfws.has_next %}
            <a href="?page={{ osfws.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	
{% endblock %}
