{% extends "base.html" %}

{% load static %}


{% block content_main %}
<div id="fheader">
Available font families
</div><br>

<ul>
{% for osfw in osfws %}
<div>
<li><a href="/get/{{ osfw.id }}/"> {{ osfw.familyname }} </a> </li>
<img src="{% static "fontimages/"  %}{{ osfw.ttffilename|slice:":-4"}}-sample.png" alt="sample-image" >
<p>{{osfw.likes}} people liked this font</p><br>

</div>
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if osfws.has_previous %}
            <a href="?page={{ osfws.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ osfws.number }} of {{ osfws.paginator.num_pages }}.
        </span>

        {% if osfws.has_next %}
            <a href="?page={{ osfws.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	
{% endblock %}
