{% extends "base.html" %}

{% load static %}

{% block content_main %}
        	<h2>This page will list standards around Fonts development </h2> <BR>
		<ul>
		<li><a href=http://www.unicode.org> Unicode </a> </li>
		<li> <a href=http://www.microsoft.com/typography/SpecificationsOverview.mspx> Open Type/ Open Font Format </a> </li>
		<li><a href=https://developer.apple.com/fonts/registry/> Apple Advance Typography </a></li>
		<li>Script Grammers/ Languages </li>
		<li>ISO Standards </li>
		</ul>
{% endblock %}
